.bgimg {
    background-image: url(./images/hero_bg_4.jpg);
}

.ovly {
    position: relative;
    top: -70px;
}

@media (max-width: 600px) {
    .boxes {
    padding: 0 5% 0 5% ; } }
.box {
    background-color: #f89d13 !important;
}
.text-color {
    color: #f89d13 !important;
}
.offer-sec {
    position: relative;
    top: -70px;
}
.Link {
    text-decoration: none !important;
}
.Text-Align {
    text-align: left !important;
}
.Text-Justify{
    text-align: justify;
}